@import "ui-variables";
@import "syntax-variables";

minimap-codeglance {
  position: absolute;
  overflow: hidden;
  box-sizing: content-box;
  background-color: @syntax-background-color;
  border-color: @tool-panel-background-color;
  border-style: solid;
  border-width: 2px 0;
  border-radius: @component-border-radius;

  &[data-minimap-position="left"] {
    right: 0;
  }

  &[data-minimap-position="right"] {
    left: 0;
  }

  &[data-position="top"] {
    top: 0;
    border-top-width: 0;
  }

  &[data-position="cursor"] {
    top: 0;
  }

  &[data-position="bottom"] {
    bottom: 0;
    border-bottom-width: 0;
  }

  &[data-hide-gutter] atom-text-editor::shadow .gutter-container {
    width: 1em;
    opacity: 0;

    [data-typewriter="true"]::shadow & {
      width: 0;
    }
  }

  atom-text-editor {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  atom-text-editor::shadow {
    .cursor {
      display: none;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }
}
