@import "ui-variables";
@import "syntax-variables";

minimap-codeglance {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: content-box;
  border-radius: @component-border-radius;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);

  &[data-hide-gutter] {
    padding-left: 2em;

    &::shadow .gutter-container {
      display: none!important;
    }
  }

  &::shadow {
    .cursor,
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
