@import "ui-variables";
@import "syntax-variables";

minimap-codeglance {
  position: absolute;
  top: 0;
  overflow: hidden;
  box-sizing: content-box;
  background-color: @syntax-background-color;
  border-color: @tool-panel-background-color;
  border-style: solid;
  border-width: 2px 0;
  border-radius: @component-border-radius;

  &[data-minimap-position="left"] {
    right: 0;
  }

  &[data-minimap-position="right"] {
    left: 0;
  }

  atom-text-editor {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 1em;
  }

  &[data-hide-gutter] atom-text-editor {
    padding-left: 2em;

    &::shadow .gutter-container {
      display: none!important;
    }
  }

  atom-text-editor::shadow {
    .cursor {
      display: none;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }
}
