@component-padding: 8px;

@import "ui-variables";

.minimap-codeglance {
  overflow: hidden;
  padding-top: @component-padding / 2;
  box-sizing: content-box;

  atom-text-editor {
    height: 100%;

    &.hide-gutter {
      padding-left: @component-padding;
    }

    &::shadow {
      .cursor {
        display: none;
      }

      ::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
